#cart{
  
    font-size: 1.2em;
    color: antiquewhite;
    cursor: pointer;
   
  
    
    &:hover{
        color: rgb(205, 43, 226);
        transition: 0.7s;
    }
}

.numero{
    list-style: none;
    text-decoration: none;
    font-size: 1.1em;
    color: antiquewhite;
    font-family: 'Marcellus', serif;
}