.botonera{
    background-color: rgb(244, 159, 201);       
        
ul{display: flex;
  justify-content:space-evenly;
  align-items: center;
  list-style: none;
  
}
    .links{
      list-style: none;
        font-size: 1.3em;
        color: antiquewhite;
        margin-left: 30px;
        margin-right: 30px;
        
        &:hover{
            color: rgb(205, 43, 226);
            transition: 0.7s;
        }
    }
  }

  .numero{
    font-size: 1.3em;
    color:rgb(159, 44, 201) ;
  }
